html {
  overflow: hidden;
  background: #333;
}

body {
  background: #000;
  margin: 0;
  /*cursor: none;*/
  -ms-touch-action: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none !important;
  width: 1920px;
  height: 1080px;
  position: relative;
}

h1.title {
  font: bold 48px 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  color: #bdccd4;
  position: absolute;
  left: 32px;
  top: 256px;
  -webkit-transform: translate(-544px, 0);
  transition: -webkit-transform .2s;
}
h1.title.visible {
  -webkit-transform: none;
}

.chart-title {
  font: bold 48px 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  color: #bdccd4;
  position: absolute;
  left: 128px;
  top: 0px;
  -webkit-transform: translate(448px, 0);
  transition: -webkit-transform .2s, border-top-width .2s;
  border-top: 4px solid #bdccd4;
  line-height: 80px;
  width: 768px;
}
.chart-title.fullscreen {
  -webkit-transform: none;
  border-top-width: 0;
  width: auto;
}
.chart-subtitle {
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #808080;
  position: absolute;
  top: 80px;
  left: 128px;
  transition: opacity .2s;
  opacity: 0;
}
.chart-subtitle.fullscreen {
  opacity: 1;
}

svg.time {
  display: block;
  position: absolute;
  overflow: hidden;
}

svg.time.resizing {
  transition: -webkit-transform .2s;
  -webkit-transform-origin: 0 0;
}
svg.time.resizing text,
svg.time.resizing .popup {
  display: none;
}

svg.time .x.axis line.major {
  stroke: transparent;
}
svg.time .x.axis .tick.odd line {
  stroke: #232323;
}
svg.time .axis .line {
  shape-rendering: crispEdges;
}
svg.time .axis text {
  fill: #ddd;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font: bold 28px 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  text-anchor: start !important;
}
svg.time .x.axis .domain {
  display: none;
}
svg.time .area {
  fill: rgba(63, 169, 245, .8);
}
svg.time .line {
  fill: transparent;
  stroke: #3fa9f5;
  stroke-width: 3px;
}
svg.time .y.axis .tick:first-child, .time .yText.axis .tick:first-child {
  display: none;
}
svg.time .y.axis line {
  stroke: #6a7072;
  shape-rendering: crispEdges;
}
svg.time .y.axis text {
  display: none;
}
svg.time .y.axis .domain, .time .yText.axis .domain {
  display: none;
}

svg.time .bar rect {
  fill: rgba(63, 169, 245, .8);
  stroke: #fff;
  stroke-width: 1px;
}

svg.time .loading {
  -webkit-transition: opacity .3s;
  pointer-events: none;
}
svg.time .loading text {
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font-weight: bold;
  font-size: 18px;
  fill: #eee;
}

.zoomer {
  position: absolute;
  bottom: 56px;
  right: 56px;
  /*background: -webkit-linear-gradient(top, #000 50%, #333 100%);*/
  background: url(../img/zoomer.png);
  width: 361px;
  height: 45px;
  /*box-shadow: 0 0 40px 40px #000;*/
  transition: -webkit-transform .2s;
  -webkit-transform: translate(0, 120px);
}
.zoomer.visible {
  -webkit-transform: none;
}
.zoomer .handle {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background: url(../img/zoomer-handle.png);
  position: absolute;
}

.buttons {
  position: absolute;
  bottom: 0;
  transition: -webkit-transform .2s;
  -webkit-transform: translate(0, 120px);
}
.buttons.visible {
  -webkit-transform: none;
}
.button {
  position: absolute;
  bottom: 0;
  width: 144px;
  height: 120px;
  -webkit-filter: grayscale(100%);
  opacity: .5;
  -webkit-transition: -webkit-filter .5s, opacity .5s;
}
.button.active {
  -webkit-filter: none;
  opacity: 1;
}
.button.watt-hours {
  background: url(../img/button-wh.png);
  left: 600px;
  display: none;
}
.button.highlights {
  background: url(../img/button-highlights.png);
  left: 744px;
  left: 176px;
}
.button.overview {
  background: url(../img/button-overview.png);
  left: 24px;
}

.popup {
  -webkit-transition: opacity .2s, -webkit-transform .5s;
}
.popup path {
  stroke: #aee0ff;
  stroke-width: 2;
  fill: #000;
  -webkit-animation: popup-start-path .2s ease-in-out;
  transition: -webkit-transform .2s;
}
.future .popup path {
  -webkit-transform: rotate(-180deg);
}
.popup.energy path {
  -webkit-transform: rotate(-60deg);
  fill: #aee0ff;
}
.popup.energy text.value {
  fill: #000;
  -webkit-transform: translate(-24px, -12px);
}
.bubble rect.interval {
  stroke: rgba(255, 255, 255, .6);
  stroke-width: 1;
  fill: rgba(255, 255, 255, .2);
}

/* Why don't the rectangles display nicely on energy popups? */
.popup.energy .back { display: none; }
.popup.energy .note { fill: #000; }

.future + .future .popup path { -webkit-transform: rotate(-175deg); }
.future + .future + .future .popup path { -webkit-transform: rotate(-172deg); }
.future + .future + .future + .future .popup path { -webkit-transform: rotate(-169deg); }
.past + .past .popup path { -webkit-transform: rotate(-5deg); }
.past + .past + .past .popup path { -webkit-transform: rotate(-8deg); }
.past + .past + .past + .past .popup path { -webkit-transform: rotate(-11deg); }

.popup rect {
  fill: #aee0ff;
  -webkit-animation: popup-start-label .2s ease-in-out .2s;
  -webkit-animation-fill-mode: backwards;
  transition: -webkit-transform .2s;
  transition-delay: .4s;
  -webkit-transform: scale(.1) translate(-57px, 0);
}
.current .popup rect {
  -webkit-transform: none;
  transition-delay: 0;
}
.popup .value {
  font-family: 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  font-size: 28px;
  font-weight: bold;
  fill: #aee0ff;
  -webkit-animation: popup-start-text .2s ease-in-out .2s;
  -webkit-animation-fill-mode: backwards;
  opacity: 0;
  transition: opacity .2s;
}
.current .popup .value {
  opacity: 1;
}
.popup .note {
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font-weight: bold;
  font-size: 18px;
  -webkit-animation: popup-start-text .5s ease-in-out .4s;
  -webkit-animation-fill-mode: backwards;
  /*
  transition: -webkit-transform .2s;
  -webkit-transform: scale(.1) translate(-57px, 0);
  */
  opacity: 0;
  transition: opacity .2s;
  transition-delay: .2s;
}
.current .popup .note {
  /*
  -webkit-transform: scale(1) translate(-57px, 0);
  */
  opacity: 1;
}

@-webkit-keyframes popup-start-path {
  0% { -webkit-transform: scale(.1); }
}
@-webkit-keyframes popup-start-text {
  0% { opacity: 0; }
}
@-webkit-keyframes popup-start-label {
  0% { -webkit-transform: scale(.1) translate(-57px, 0); }
}

.bubblebath .bubble {
  opacity: 0;
  -webkit-transition: opacity .3s;
}
.bubblebath.withHighlights .bubble {
  opacity: 1;
}
.bubblebath .backdrop {
  -webkit-animation: fade-in .5s;
}
.bubblebath .bubble.past .popup {
}
.bubble .interval {
  stroke: #fff;
  stroke-width: 3;
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
}

/* Meter */
.meter {
  position: absolute;
  right: 32px;
  top: 32px;
  font-family: 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  font-size: 48px;
  transition: -webkit-transform .2s, opacity .2s;
  -webkit-transform: translate(-580px, 180px);
  z-index: 3;
}
.meter.fullscreen {
  -webkit-transform: none;
}
.meter.hidden {
  opacity: 0;
}

/* Click target for going fullscreen */
.fullscreener {
  border-radius: 6px;
  position: absolute;
  top: 32px; left: 576px;
  width: 768px;
  height: 1016px;
  z-index: 9;
}
.fullscreener.active {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  border: 2px solid #bdccd4;
  display: block;
  -webkit-animation: fade-in .1s;
}
.fullscreener.hidden {
  display: none;
}

/* Logos */
.logo.sp {
  position: absolute;
  top: 4px;
  left: 32px;
}

/* Cards */
.cards {
  position: absolute;
  transition: -webkit-transform .2s;
}
.cards.left {
  bottom: 32px;
  left: 32px;
  -webkit-transform: translate(-544px, 0);
  background-image: url(../img/left-side.png);
}
.cards.left * { display: none; }
.cards.right {
  top: 32px;
  right: 32px;
  -webkit-transform: translate(544px, 0);
  background-image: url(../img/right-side.png);
}
.cards.visible {
  -webkit-transform: none;
}

.today {
  height: 42px;
  line-height: 44px;
  border: 1px solid #808080;
  border-radius: 6px;
  color: #969696;
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  bottom: 56px;
  right: 449px;
  padding: 0 12px;
  transition: background .1s, color .1s, opacity .2s;
}
.today.active {
  background: #808080;
  color: #000;
}
