html {
  overflow: hidden;
}

body {
  background: #000 url(../img/app-mockup.png);
  margin: 0;
  /*cursor: none;*/
  -ms-touch-action: none;
  -webkit-user-select: none;
}

.time {
  display: block;
  position: absolute;
  overflow: hidden;
}

.time.resizing {
  transition: -webkit-transform .2s;
  -webkit-transform-origin: 0 0;
}
.time.resizing text,
.time.resizing .popup {
  display: none;
}

.time .x.axis line.major {
  stroke: transparent;
}
.time .x.axis line.minor {
  stroke: #232323;
}
.time .axis .line {
  shape-rendering: crispEdges;
}
.time .axis text {
  fill: #ddd;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  text-anchor: start !important;
}
.time .x.axis .domain {
  display: none;
}
.time .area {
  fill: rgba(63, 169, 245, .8);
}
.time .line {
  fill: transparent;
  stroke: #3fa9f5;
  stroke-width: 3px;
}
.time .y.axis .tick:first-child, .time .yText.axis .tick:first-child {
  display: none;
}
.time .y.axis line {
  stroke: #6a7072;
}
.time .y.axis text {
  display: none;
}
.time .y.axis .domain, .time .yText.axis .domain {
  display: none;
}

.time .bar rect {
  fill: rgba(63, 169, 245, .8);
}

.time .loading {
  -webkit-transition: opacity .3s;
  pointer-events: none;
}
.time .loading text {
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font-weight: bold;
  font-size: 18px;
  fill: #eee;
}

.zoomer {
  position: absolute;
  bottom: 56px;
  right: 56px;
  /*background: -webkit-linear-gradient(top, #000 50%, #333 100%);*/
  background: url(../img/zoomer.png);
  width: 361px;
  height: 45px;
  /*box-shadow: 0 0 40px 40px #000;*/
  transition: -webkit-transform .2s;
  -webkit-transform: translate(0, 120px);
}
.zoomer.visible {
  -webkit-transform: none;
}
.zoomer .handle {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background: url(../img/zoomer-handle.png);
  position: absolute;
}

.buttons {
  position: absolute;
  bottom: 0;
  transition: -webkit-transform .2s;
  -webkit-transform: translate(0, 120px);
}
.buttons.visible {
  -webkit-transform: none;
}
.button {
  position: absolute;
  bottom: 0;
  width: 144px;
  height: 120px;
  -webkit-filter: grayscale(100%);
  opacity: .5;
  -webkit-transition: -webkit-filter .5s, opacity .5s;
}
.button.active {
  -webkit-filter: none;
  opacity: 1;
}
.button.watt-hours {
  background: url(../img/button-wh.png);
  left: 600px;
}
.button.highlights {
  background: url(../img/button-highlights.png);
  left: 744px;
}

.popup {
  -webkit-transition: opacity .2s, -webkit-transform .5s;
}
.popup path {
  stroke: #aee0ff;
  stroke-width: 2;
  fill: #000;
  -webkit-animation: popup-start-path .2s ease-in-out;
  transition: -webkit-transform .2s;
}
.future .popup path {
  -webkit-transform: rotate(-180deg);
}
.future + .future .popup path { -webkit-transform: rotate(-175deg); }
.future + .future + .future .popup path { -webkit-transform: rotate(-172deg); }
.future + .future + .future + .future .popup path { -webkit-transform: rotate(-170deg); }
.past + .past .popup path { -webkit-transform: rotate(-5deg); }
.past + .past + .past .popup path { -webkit-transform: rotate(-8deg); }
.past + .past + .past + .past .popup path { -webkit-transform: rotate(-10deg); }

.popup rect {
  fill: #aee0ff;
  /*
  -webkit-animation: popup-start-label .2s ease-in-out .2s;
  -webkit-animation-fill-mode: backwards;
  */
  transition: -webkit-transform .2s;
  transition-delay: .4s;
  -webkit-transform: scale(.1) translate(-57px, 0);
}
.current .popup rect {
  -webkit-transform: none;
  transition-delay: 0;
}
.popup .value {
  font-family: 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  font-size: 28px;
  font-weight: bold;
  fill: #aee0ff;
  /*
  -webkit-animation: popup-start-text .5s ease-in-out .2s;
  -webkit-animation-fill-mode: backwards;
  */
  opacity: 0;
  transition: opacity .2s;
}
.current .popup .value {
  opacity: 1;
}
.popup .note {
  font-family: 'Helvetica Neue', 'HelveticaNeueLT Std', sans-serif;
  font-weight: bold;
  font-size: 18px;
  /*
  -webkit-animation: popup-start-text .5s ease-in-out .4s;
  -webkit-animation-fill-mode: backwards;
  */
  /*
  transition: -webkit-transform .2s;
  -webkit-transform: scale(.1) translate(-57px, 0);
  */
  opacity: 0;
  transition: opacity .2s;
  transition-delay: .2s;
}
.current .popup .note {
  /*
  -webkit-transform: scale(1) translate(-57px, 0);
  */
  opacity: 1;
}

@-webkit-keyframes popup-start-path {
  0% { -webkit-transform: scale(.1); }
}
@-webkit-keyframes popup-start-text {
  0% { opacity: 0; }
}
@-webkit-keyframes popup-start-label {
  0% { -webkit-transform: scale(.1) translate(-57px, 0); }
}

.bubblebath .bubble {
  opacity: 0;
  -webkit-transition: opacity .3s;
}
.bubblebath.withHighlights .bubble {
  opacity: 1;
}
.bubblebath .backdrop {
  -webkit-animation: fade-in .5s;
}
.bubblebath .bubble.past .popup {
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
}

/* Meter */
.meter {
  position: absolute;
  left: 823px;
  top: 51px;
  font-family: 'HelveticaNeueLT Std Cn', 'HelveticaNeue-CondensedBold', sans-serif;
  font-size: 48px;
}

/* Cards */
.cardboard {
}

.toggle {
  color: #fff;
  background: #666;
  width: 64px;
  height: 64px;
  text-align: center;
  font: 500 10px/64px Avenir;
  letter-spacing: 1px;
}
