html {
  overflow: hidden;
}

body {
  background: #000 url(app-mockup.png);
  margin: 0;
  -ms-touch-action: none;
}

.time {
  display: block;
  position: absolute;
  top: 200px;
  overflow: hidden;
}
.time .x.axis line.major {
  stroke: transparent;
}
.time .x.axis line.minor {
  stroke: #232323;
}
.time .axis .line {
  shape-rendering: crispEdges;
}
.time .axis text {
  fill: #ddd;
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  text-anchor: start !important;
}
.time .x.axis .domain {
  display: none;
}
.time .area {
  fill: rgba(63, 169, 245, .8);
}
.time .line {
  fill: transparent;
  stroke: #3fa9f5;
  stroke-width: 3px;
}
.time .y.axis .tick:first-child, .time .yText.axis .tick:first-child {
  display: none;
}
.time .y.axis line {
  stroke: #6a7072;
}
.time .y.axis text {
  display: none;
}
.time .y.axis .domain, .time .yText.axis .domain {
  display: none;
}

.zoomer {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: #000;
  border: 1px solid #fff;
  width: 360px;
  height: 44px;
  border-radius: 22px;
  box-shadow: 0 0 40px 40px #000;
}
.zoomer .handle {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background: #ccc;
  position: absolute;
}
